---
title: Page Title
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../assets/styles/main.css">
    </head>
    <body>
        {{ content }}

        {% render 'footer' %}
    </body>
</html>
