html {
    font-family: Palatino, "Times New Roman", serif;
    font-size: 1.1em;
    color: #111111;
    background-color: azure;
}

footer {
    font-style: italic;
    font-style: 1em;
    color: #595959;
}

.carousel {
    overflow: hidden;
}

.carousel .carousel-item img {
    max-height: 600px;
    min-width: auto;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}



