---
title: National Parks
layout: base
eleventyComputed:
  pathPrefix: "{{ env.pathPrefix }}"
---
<br/>
<h2>List of National Parks</h2>
<ul>
    {% for item in collections.parks %}
        <li>
            <a
                    href="/{{ env.pathPrefix }}{{ item.url }}">{{ item.data.title }}</a>
        </li>
    {% endfor %}
</ul>