---
title: National Parks
layout: base
---
<br/>
<h2>List of National Parks</h2>
<ul>
    {% for item in collections.parks %}
        <li>
            <a
                    href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
    {% endfor %}
</ul>