---
layout: base
title: Hello!
eleventyComputed:
  pathPrefix: "{{ env.pathPrefix }}"
---

<h2>Hello! This is the hello page</h2>
<p>
    Some content
</p>
<p>
    <a href="/">Link to home page</a>
</p>
