---
layout: base
title: Index page
---
<div id="container" class="col-10 mx-auto">

    <h2>This is the index page</h2>
    <p>
        Some content
    </p>
    <p>
        | <a href="/maine">Maine National Parks</a>
        | <a href="/massachusetts">Massachusetts National Parks</a>
        |
    </p>
    <p>
        <a href="/hello">Link to hello page</a>
    </p>
</div>
