---
layout: base
title: Index page
---

<h2>This is the index page</h2>
<p>
    Some content
</p>
<p>
    <a href="/maine">Maine National Parks</a>
</p>
<p>
    <a href="/hello">Link to hello page</a>
</p>
